body {
  background-color: white;
}

h1 {
  color: black;
  font-family: Gill Sans, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: black;
  font-family: Gill Sans, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
p {
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

  
