body {
  background-color: #DED7DB;
}

h1 {
  color: black;
  font-size: 64px;
  font-family: Rockwell, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

h2 {
  color: black;
  font-family: Monaco, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: black;
  font-family: Monaco, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
p {
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #292829;
  color: white;
  text-align: center;
}

/* NAVBAR STYLING BEGINS */

.navbar {
  width: 75%; /*sets the total width of the navbar and elements within to a percentage of the screen size */
  position: relative;
  left: 12.5%; /*adds 12.5% padding to left side of navbar - change percentage based on (total width - navbar width) /2 */
  background-color: #DED7DB;
  overflow: auto;
}

.navbar a {
  float: left;
  color: black;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  width: 33.33%; /*sets width of each link based on percentage of navbar width */
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar a:hover {
  background-color: #D3D3D3; /*sets color or link when hovered over */
}

.navbar a.active {
  background-color: #D3D3D3; /*sets color of currently active link */
}

@media screen and (max-width: 500px) { /*sets conditions for navbar links when screen size is less than 500px - in this case, sets links to vertical stack rather than horizontal*/
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}

/* NAVBAR STYLING ENDS */
